body {
  text-align: center;

  img {
    width: 20%;
    height: 20%;
    margin: 24px auto;
  }

  .text-content {
    margin: 24px auto;
    padding: 24px;
    max-width: 60%;
    background-color: rgba(239,239,239, 0.4);
    border-radius: 5px;
    font-size: 2.5rem;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}