@mixin transition($property) {
  -webkit-transition: $property;
  transition: $property;
}


html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  // height: 100%;
  z-index: 100;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Lato';
  background-color: rgba(221, 93, 92, 1);
  color: #FFF;
}

.new {
  text-align: center;
  margin-top: 200px;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #FFF;
  border-color: #FFF;
}

/* ---------- Contact form ---------- */

.contact-form input[type="email"], .contact-form input[type="submit"] {
  // display: inline-block;
  // padding: 0.8em;
  outline: none;
  border: none;
  margin: 0;
}

input[type="email"] {
  .contact-form & {
    // @include transition(all 0.5s ease-in-out);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px 0 0 3px;
    color: #5e6272;
    padding: 12px 100px 10px 10px;
    font-size: 12px;
    // width: 72%;
  }

  // Probably some way to use the & operator to nest this within .contact-form &
  .contact-form #signup.sent & {
    width: 0;
    padding: 0.8em 0;
    border: none;
  }
}

input[type="submit"] {
  .contact-form & {
    @include transition(all 0.5s ease-in-out);
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: transparent;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    color: white;
    font-size: 11px;
    // width: 28%;
    // cursor: not-allowed;
  }

  .contact-form #signup.sent & {
    border-radius: 3px;
    cursor: auto;
    // width: 40%;
  }

  .valid &  {
    background-color: #2ecc71;
    cursor: pointer;
  }
}

.button {
  @include transition(all 0.1s ease-in-out);
  font-weight: normal;
  display: inline-block;
  border: 1px solid #ffffff;
  text-decoration: none;
  border-radius: 3px;
  padding: 12px 0.75em;
  color: white;

  &:hover {
    border: 1px solid #fd6e6e;
    background: #fd6e6e;
  }

  &.nohover {
    border: 1px solid white;
    background: transparent;
  }
}

.email {
  cursor: auto;
}
