
/*Css changes are not working
*/
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

#hero{
  background-image: url("../img/bg.jpg")!important;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  position:relative;
  height:100vh;
  font-family: 'Roboto', 'Helvetica Neue';
}

#apply{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    padding:7px;
    background-color: transparent;
    border-radius: 4px;
    border-color: white;
    border:2px solid;
}

.content {
  font-family: "Helvetica", sans-serif;
  text-align:left;
  margin-top: 20px;
}

.content h2 {
  border-bottom: 2px solid white;
  font-family: "Abel";
  text-transform: uppercase;
}

.schedule {
  font-family: "Helvetica", sans-serif;
  margin-top: -10px;
}

.schedule h6 {
  text-align: center;
  font-weight: bold;
  font-size: 15pt;
  text-transform: uppercase;
  font-family: "Abel";
}



.nav {
  font-family: "Abel", "Helvetica", sans-serif;
  text-transform: uppercase;
  word-spacing:20px;
  font-size: 14pt;
  margin-top: 30px;
}

.nav a {
  text-decoration: none!important;
}

.nav a:hover {
  text-decoration: underline!important;
}

.panel-group {
  color:#333!important;
  border:0;
}

.panel-group .panel-title {
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  color:#333;
}

.panel-group a {
  color:#e74c3c!important;
  text-decoration:none!important;

}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.centered {
    height: 150px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -120px;
}

section {
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 42pt;
    line-height: 1.5;
    margin-bottom: 10px;
    color: white;
    font-weight: 300;
    font-family: "Open Sans", "Helvetica Neue";
}

h3 {
    margin-top: -10px!important;
    color: white;
    font-size: 17pt!important;
    font-weight: bold;
    font-family: "Abel", "Helvetica Neue";
    text-transform: uppercase;
    margin-bottom: 10px;
}

#logo {
  margin-top: -120px;
  height: 120px;
}

#sponsors {
  padding-top: 20px;
  color: black;
}

#sponsors a, h3 {
  /*color:black!important;*/
}

#sponsors h2 {
  border-bottom: 2px solid black!important;
}

#sponsors button {
  color:black;
  border-color: black;
}

a, button {
    text-decoration: inherit;
    color: white;
}

a {
  color:white!important;
  text-decoration: underline!important;
}

a:hover, button:hover {
    color: #549bb8;
    cursor: pointer;
}

footer {
    color: white;
    font-size: 7pt;
    text-align: center;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -40px;
    line-height: 1.25;
    font-family: "Helvetica", sans-serif;
}

p {
    margin: 0 10%;
    font-family: "Helvetica", "Lato", sans-serif;
}

.contact-form input[type="email"] ,.contact-form input[type="submit"] {
    /*display: inline-block;*/
    /*padding: 0.8em;*/
    outline: none;
    border: none;
    margin: 0px;
}

.contact-form input[type="email"] {
    /*-webkit-transition: all 0.5s ease-in-out;*/
    /*transition: all 0.5s ease-in-out;*/
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px 0px 0px 3px;
    color: #5e6272;
    padding: 12px 100px 10px 10px;
    font-size: 12px;
    /*width: 72%;*/
}

.contact-form input[type="submit"] {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: transparent;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    color: white;
    font-size: 11px;
    /*width: 28%;*/
}

em {
    color: #f33;
}

#info{
    opacity: 0;
    z-index: 1;
    background: rgb(255,255,255);
    position: absolute;
    width: 100%;
    height: auto;
    left: -100%;
}

#info-wrapper {
    width: 680px;
    margin: 75px auto;
}

@media only screen and (max-width: 480px) {
    #info-wrapper {
        width: auto;
        margin: auto;
        padding: 75px;
    }

    h1 {
      font-size: 30pt;
    }

    h3 {
      font-size: 14pt!important;
    }
}

button :focus {
    outline: none;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px;
}

#info p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-indent: 50px;
    padding-bottom: 1rem;
}

.ps {
    text-align: center;
    font-size: 0.8rem;
    color: #999;
}

.noindent {
    text-indent: 0 !important;
}

.home-wrapper {
    margin-top: 1rem;
}

.question-whole{
    padding: 1%;
    margin: 1%;
}

.question{
    font-size: 1.5em;
    cursor: pointer;
}

.answer{
    display: none;
}

.symbol h3{
    float: left;
    margin-top: 0.01em!important;
    margin-bottom: 0;
    margin-right: 1em;
}
