section {
  margin: 0 auto;
  text-align: center;
}
section.centered {
  height: 150px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -120px;
}
section.centered #logo {
  margin-top: -120px;
  height: 120px;
}
section.centered h1 {
  line-height: 1.5;
  margin-bottom: 10px;
  color: white;
  font-weight: 300;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
section.centered .nav {
  font-family: "Abel", "Helvetica", sans-serif;
  text-transform: uppercase;
  word-spacing: 20px;
  font-size: 14pt;
  margin-top: 30px;
}
section.centered .nav a {
  text-decoration: none;
}
section.centered .nav a:hover {
  text-decoration: underline;
}

footer {
  color: white;
  font-size: 7pt;
  text-align: center;
  height: 40px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -40px;
  line-height: 1.25;
  font-family: "Helvetica", sans-serif;
}

#schedule {
  font-family: "Helvetica", sans-serif;
}
#schedule h6 {
  text-align: center;
  font-weight: bold;
  font-size: 15pt;
  text-transform: uppercase;
  font-family: "Abel";
}

#faq .question-whole {
  padding: 1%;
  margin: 1%;
}
#faq .question-whole .question {
  font-size: 1.5em;
  cursor: pointer;
}
#faq .question-whole .answer {
  display: none;
}
#faq .question-whole .symbol h3 {
  float: left;
  margin-top: 0.01em;
  margin-bottom: 0;
  margin-right: 1em;
}

#sponsors {
  background-color: white;
  padding-top: 20px;
  color: black;
  align-content: flex-start;
}
#sponsors a {
  color: black;
  text-decoration: none;
}
#sponsors a img {
  max-height: 8rem;
  max-width: 30%;
  margin: 2rem 2rem;
}
#sponsors h2 {
  border-bottom: 2px solid black;
}
#sponsors button {
  color: black;
  border-color: black;
}

.error404 {
  text-align: center;
}
.error404 img {
  width: 20%;
  height: 20%;
  margin: 24px auto;
}
.error404 .text-content {
  margin: 24px auto;
  padding: 24px;
  max-width: 60%;
  background-color: rgba(239, 239, 239, 0.4);
  border-radius: 5px;
  font-size: 2.5rem;
}
.error404 .text-content a {
  color: inherit;
  text-decoration: none;
}

.center > * > * {
  margin: 0 auto 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

#hero {
  background-image: url("../img/bg.jpg") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100vh;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

#hero h3, .center h3 {
  margin-top: -10px;
  color: white;
  font-size: 17pt;
  font-family: "Abel", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}

/*
%button-apply {
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 4px;
  border: 2px solid white;
}

.button {
  @extend %button-apply;
  text-decoration: none;
  padding: 7px;
  background-color: transparent;
}

.apply {
  @extend %button-apply;
  display: inline-block;
  padding: 15px 40px;
  margin: 20px 0;
  position: relative;
  color: #ecf0f1;
  background-color: rgba(211, 93, 92, 1);
}

// apply button
#apply {
  color: #34495e;
  overflow: hidden;

  &:before, &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #f7a00a;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &:after {
    bottom: 0 !important;
    top: auto !important;
    right: -100%;
    left: auto;
  }

  &:hover {
    background-color: rgba(255, 52, 35, 1);

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }
}
*/
.center {
  text-align: center;
}
.center .content {
  font-family: "Helvetica", sans-serif;
  text-align: left;
  margin-top: 20px;
}
.center .content h2 {
  border-bottom: 2px solid white;
  font-family: "Abel";
  text-transform: uppercase;
}

/*
.panel-group {
  color: #333 !important;
  border: 0;

  .panel-title {
    font-family: "Abel", sans-serif;
    text-transform: uppercase;
    color: #333;
  }

  a {
    color: #e74c3c;
    text-decoration: none;
  }
}
*/
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a, button {
  text-decoration: inherit;
  color: white;
}

a {
  text-decoration: underline;
}
a:hover {
  color: inherit;
}

p {
  font-family: "Lato", sans-serif;
}

.contact-form input[type=email], .contact-form input[type=submit] {
  /*display: inline-block;*/
  /*padding: 0.8em;*/
  outline: none;
  border: none;
  margin: 0;
}

.contact-form input[type=email] {
  /*-webkit-transition: all 0.5s ease-in-out;*/
  /*transition: all 0.5s ease-in-out;*/
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px 0 0 3px;
  color: #5e6272;
  padding: 12px 100px 10px 10px;
  font-size: 12px;
  /*width: 72%;*/
}

.contact-form input[type=submit] {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  color: white;
  font-size: 11px;
  /*width: 28%;*/
}

em {
  color: #f33;
}

#info {
  opacity: 0;
  z-index: 1;
  background: white;
  position: absolute;
  width: 100%;
  height: auto;
  left: -100%;
}
#info p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-indent: 50px;
  padding-bottom: 1rem;
}

#info-wrapper {
  width: 680px;
  margin: 75px auto;
}

@media only screen and (max-width: 480px) {
  #info-wrapper {
    width: auto;
    margin: auto;
    padding: 75px;
  }

  h1 {
    font-size: 30pt;
  }

  h3 {
    font-size: 14pt !important;
  }
}
button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px;
}
button :focus {
  outline: none;
}

.ps {
  text-align: center;
  font-size: 0.8rem;
  color: #999;
}

.noindent {
  text-indent: 0 !important;
}

.home-wrapper {
  margin-top: 1rem;
}

/*# sourceMappingURL=style.css.map */
