// CSS for the FAQ section

#faq {
  // Entire question element
  .question-whole {
    padding: 1%;
    margin: 1%;

    .question {
      font-size: 1.5em;
      cursor: pointer;
    }

    .answer {
      font-size: 1.1em;
      display: none;
    }

    // The plus or minus symbol to the left of the question
    .symbol {
      h3 {
        float: left;
        margin-top: 0.01em;
        margin-bottom: 0;
        margin-right: 1em;
      }
    }
  }
}