// CSS for the Sponsors section

#sponsors {
  background-color: white;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  color: black;
  align-content: flex-start;

  // The sponsor images and links
  a {
    text-decoration: none;
    color: black;
    text-decoration: none;

    img {
      max-height: 8rem;
      max-width: 24rem;
      margin:2rem 2rem;
    }
  }

  h2 {
    border-bottom: 2px solid black;
  }

  button {
    color: black;
    border-color: black;
  }
}