// CSS for the Sponsors section

#sponsors {
  background-color: white;
  padding-top: 20px;
  color: black;
  align-content: flex-start;

  a {
    color: black;
    text-decoration: none;
    img {
      max-height: 8rem;
      max-width: 30%;
      margin:2rem 2rem;
    }
  }

  h2 {
    border-bottom: 2px solid black;
  }

  button {
    color: black;
    border-color: black;
  }
}