// CSS for the Sponsors section

#sponsors {
  font-size: 1.3em;

  // the sponsor images
  #sponsors-content {
    margin: 0 auto;
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    // The sponsor images and links
    div {
      flex: 1 1 24rem;

      img {
        max-height: 8rem;
        max-width: 24rem;
        margin: 0.5rem 2rem;
      }
    }
  }

  
  button {
    color: black;
    border-color: black;
  }
}